{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog<h1>


    <p>In est est officia amet velit elit sit cupidatat qui esse voluptate ipsum esse. Eiusmod qui Lorem velit duis. Incididunt duis fugiat pariatur deserunt.</p>
    <p>Incididunt ad ut est do anim velit reprehenderit. Quis excepteur adipisicing consectetur ea labore enim. Adipisicing quis consequat incididunt ullamco sit.</p>
{% endblock %}